<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>All Topic</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="flex flex-col min-h-screen bg-gray-100">
    <div class="flex flex-grow items-center justify-center">
      <div class="w-full max-w-6xl p-6 bg-white shadow-lg rounded-lg">
        <div class="text-center mb-8">
          <h1 class="text-4xl text-pink-500 font-bold mb-2">Welcome To 3-1</h1>
          <h3 class="text-lg font-semibold text-gray-600">Section-D</h3>
        </div>

        <div class="overflow-x-auto">
          <table class="w-full border text-left border-gray-200">
            <thead class="bg-gray-200 text-red-700 text-lg">
              <tr>
                <th class="px-4 py-2 border-b">Course Title</th>
                <th class="px-4 py-2 border-b">Course Code</th>
                <th class="px-4 py-2 border-b">Course Teacher</th>
                <th class="px-4 py-2 border-b">Details...</th>
              </tr>
            </thead>
            {%for topic in topics%}
            <tbody class="bg-white hover:bg-pink-50">
              <td class="px-4 py-2 border-b">{{topic.c_title}}</td>
              <td class="px-4 py-2 border-b">{{topic.c_code}}</td>
              <td class="px-4 py-2 border-b">{{topic.c_teacher}}</td>
              <td class="px-4 py-2 border-b">
                <a
                  class="p-1 rounded-md hover:bg-blue-600 hover:text-white"
                  href="{%url 'details' topic.c_code %}"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Click me</a
                >
              </td>
            </tbody>
            {%endfor%}
          </table>
        </div>
      </div>
    </div>
    <footer class="bg-blue-600 p-8 text-white text-center">
      <p>
        &copy; 2024
        <!-- <a
          href="https://www.facebook.com/AlMamuunn"
          class="text-lg font-semibold"
          >Abdullah Al Mamun</a
        >
        & -->
        <a
          href="https://www.linkedin.com/in/mdyhakash/"
          class="text-md font-semibold"
          >Md Y H Akash.</a
        >
      </p>
    </footer>
  </body>
</html>
